body {
  height: 100vh;
  background: #000;
  color: #fff;
  font-family: "Inter", monospace;
}

.App {
  height: 100%;
  width: 100%;
  color: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: 20px 40px 0 40px;
  justify-content: center;
  height: 100%;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 48px;
  font-family: "IBM Plex Mono", monospace;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-left: 10px;
  flex-grow: 2;
  height: 100%;
}

.account-menu {
  display: flex;
}

.coin-info-row {
  height: 38px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid #2d2d2d;
}

.coin-info-row .icon-and-coin-name {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.coin-info-row div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coin-info-row h3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  color: #aeadad;
}

.coin-info-row p {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 0;
}

input {
  outline: none;
  border: none;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
}

.search-bar input {
  color: #fff;
}

.light1-bg {
  background-color: #1a1a1a;
}

.light2-bg {
  background-color: #161514;
}

.green {
  color: #4bc2a3;
}

.red {
  color: #ff5a44;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
