:root {
  --bg-light1: #1a1a1a;
  --bg-light2: #161514;
  --border-grey: #2d2d2d;
}

.element {
  background-color: var(--bg-dark);
}

body {
  height: 100vh;
  background: #000;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
}

.App {
  height: 100%;
  width: 100%;
  color: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: 20px 40px 0 40px;
  justify-content: center;
  height: 100%;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 48px;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-left: 10px;
  flex-grow: 2;
  height: 100%;
}

.account-menu {
  display: flex;
}

.coin-info-row {
  height: 38px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid var(--border-grey);
}

.coin-info-row .icon-and-coin-name {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
}

.icon-and-coin-name h2,
.coin-info-row div p {
  font-family: "Inter", monospace;
}

.coin-info-row div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.coin-info-row h3 {
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  color: #aeadad;
}

.coin-info-row p {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 0;
}

div.graph-and-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.coin-chart {
  flex-grow: 2;
  height: 500px;
}

.buy-sell-actions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light2);
  padding: 20px;
  height: 460px;
}

.buy-sell-actions .tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buy-sell-actions .tabs .tab {
  flex-grow: 1;
  text-align: center;
  border-bottom: 1px solid var(--border-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  padding-bottom: 20px;
}

.buy-sell-actions .tabs:hover {
  cursor: pointer;
}

.buy-sell-actions .tabs .active {
  color: #ff5a44;
  border-bottom: 1px solid #ff5a44;
}

.buy-sell-actions .actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.buy-sell-actions .actions .action .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.buy-sell-actions div.label,
.buy-sell-actions h4,
.buy-sell-actions p {
  font-size: 14px;
  font-weight: 400;
}

.calculated-values .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  outline: none;
  border: none;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
}

.search-bar input {
  color: #fff;
}

.light1-bg {
  background-color: #1a1a1a;
}

.light2-bg {
  background-color: #161514;
}

.green {
  color: #4bc2a3;
}

.red {
  color: #ff5a44;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
